* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*
html {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*_____GENERAL CONTAINER____
.general-container {
    display: flex;
    flex-direction: row;
}

header {
    align-self: flex-start;
    background: rgb(54, 54, 54);
    width: 80vw;
    height: 15vh;
}

main {
    background: red;
    width: 100vw;
    height: 56vh;
}

footer {
    background: blue;
    width: 100vw;
    height: 50vh;
}

/*_______ LEFT CONTAINER ______

.left-container {
    display: flex;
    flex-direction: column;
    background: black;
    width: 20vw;
    height: 85vh;
    padding-left: 2%;
    padding-top: 2%;
}

.left-container div {
    display: inline-block;
}

.logo {
    width: 60%;
}

.category {
    margin-top: 5%;
}

.casetta,.lib,.search {
    width: 10%;
}

.nomeplaylist li{
    list-style: none;
    margin-top: 5%;
}

.fa-plus-square {
    font-size: 200%;
    vertical-align: middle;
}

.fondo,.general-container,.left-container {
    display: flex;
}

*/

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --playerheight: 100px;
}

.container {
    background: red;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.clearfix::after {
    content:'';
    display: table;
    clear: both;
}


main {
    width: 100%;
    height: calc(100% - (var(--playerheight)));
    overflow: hidden;
}

.main-nav {
    float: left;
    width: 20%;
    height: 100%;
    background-color: black;
    min-height: 40%;
    color: rgb(255, 255, 255, 0.4);
    line-height: 30px;
}

/*_____MAIN NAV TOP_____*/
.main-nav-top {
    width: 100%;
    height: 80%;
    background-color: black;
}

.logo {
    width: 65%;
    padding: 1em;
}

.home {
    padding-left: 1em;
}

.home:hover {
    border-left: 3px solid yellowgreen;
    color: white;    
}

.cerca:hover {
    border-left: 3px solid yellowgreen;
    color: white;    
}

.library:hover {
    border-left: 3px solid yellowgreen;
    color: white;    
}


.home,.cerca,.library {
    padding-left: 1em;
}




.casetta,.lib,.search {
   width: 12%;
   vertical-align: middle;
}

.logo,.category,.playlist {
    margin-bottom: 1em;
}

.playlist {
    padding-left: 1em;
}

.title-cat-playlist {
    color: white;
}

.fa-plus-square {
    font-size: 230%;
}

.nomeplaylist li {
    list-style: none;
}

.nomeplaylist {
    height: 200px;
    overflow: auto;
}

.firstttchild {
    display: flex;
    align-items: center;
}

.fa-plus-square {
    margin-right: 0.3em;
}


/*____MAIN NAV BOTTOM___*/
.main-nav-bottom {
    width: 100%;
    height: 20%;
    display: flex;
    flow-direction: flex-end;
    align-items: flex-end;
    padding: 1em;
}

.install img {
    width: 8%;
}

.install {
    font-size: 80%;
}

.user,.install {
    display: flex;
    align-items: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}


.user span, .install span {
    margin-left: 0.5em;
}

.usersvg {
    background: gray;
    border-radius: 50%;
    width: 12%;
}

.main-section {
    float: left;
    width: calc(100% - (20%));
    height: 100%;
    background-color: darkblue;
    overflow: auto;
    padding-top: calc(var(--playerheight) + (1em));
    padding-bottom: 2em;
    display: flex;
}   


.main-call-action {
    width: calc(100% - (20%));
    height: var(--playerheight);
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgb(0, 0, 0, 0.4);
    display: flex;
    justify-content: flex-end;
}

.upgrade {
    text-transform: uppercase;
    color: white;
    border: 2px solid white;
    background-color: rgb(0, 0, 0, 0.3);
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
    border-radius: 25px;
    margin-right: 0.5em;
    align-self: center;
}

/*SMARTPHONE*/

@media screen and (max-width: 600px) {
    .main-nav {
        width: 45px;
    }

    .main-section {
    width: calc(100% - (45px));
    }   

    .main-call-action {
    width: calc(100% - (45px));
    }
}
/* 600px, 700px e 1100px */
/*SMARTPHONE*/


.container-lista-navigator {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.lista-navigator li {
    list-style: none;
    display: inline;
    padding: 0.5em;
}

.lista-navigator a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}






footer {
    background: gray;
    width: 100%;
    height: var(--playerheight);
}



