* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: rgb(255, 255, 255, 0.4);

}

:root {
    --playerheight: 100px;
}

.container {
    background: red;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.clearfix::after {
    content:'';
    display: table;
    clear: both;
}


main {
    width: 100%;
    height: calc(100% - (var(--playerheight)));
    overflow: hidden;
}

.main-nav {
    float: left;
    width: 20%;
    height: 100%;
    background-color: black;
    min-height: 40%;
    line-height: 30px;
}

/*_____MAIN NAV TOP_____*/
.main-nav-top {
    width: 100%;
    height: 80%;
    background-color: black;
}

.logo {
    width: 65%;
    padding: 1em;
}

.home {
    padding-left: 1em;
}

.home:hover {
    border-left: 3px solid yellowgreen;
    color: white;    
}

.cerca:hover {
    border-left: 3px solid yellowgreen;
    color: white;    
}

.library:hover {
    border-left: 3px solid yellowgreen;
    color: white;    
}


.home,.cerca,.library {
    padding-left: 1em;
}




.casetta,.lib,.search {
   width: 12%;
   vertical-align: middle;
}

.logo,.category,.playlist {
    margin-bottom: 1em;
}

.playlist {
    padding-left: 1em;
}

.title-cat-playlist {
    color: white;
}

.fa-plus-square {
    font-size: 230%;
}

.nomeplaylist li {
    list-style: none;
}

.nomeplaylist {
    height: 200px;
    overflow: auto;
}

.firstttchild {
    display: flex;
    align-items: center;
}

.fa-plus-square {
    margin-right: 0.3em;
}


/*____MAIN NAV BOTTOM___*/
.main-nav-bottom {
    width: 100%;
    height: 20%;
    display: flex;
    flow-direction: flex-end;
    align-items: flex-end;
    padding: 1em;
}

.install img {
    width: 8%;
}

.install {
    font-size: 80%;
}

.user,.install {
    display: flex;
    align-items: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}


.user span, .install span {
    margin-left: 0.5em;
}

.usersvg {
    background: gray;
    border-radius: 50%;
    width: 12%;
}

.main-section {
    float: left;
    width: calc(100% - (20%));
    height: 100%;
    background-color: darkslategray;
    overflow: auto;
    padding-top: calc(var(--playerheight) + (1em));
    padding-bottom: 2em;
}   


.main-call-action {
    width: calc(100% - (20%));
    height: var(--playerheight);
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgb(0, 0, 0, 0.4);
    display: flex;
    justify-content: flex-end;
}

.upgrade {
    text-transform: uppercase;
    color: white;
    border: 2px solid white;
    background-color: rgb(0, 0, 0, 0.3);
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
    border-radius: 25px;
    margin-right: 0.5em;
    align-self: center;
}

/*SMARTPHONE*/

@media screen and (max-width: 600px) {
    .main-nav {
        width: 45px;
    }

    .main-section {
    width: calc(100% - (45px));
    }   

    .main-call-action {
    width: calc(100% - (45px));
    }
}
/* 600px, 700px e 1100px */
/*SMARTPHONE*/

/*      MAIN SECTION    */

.container-lista-navigator {
    width: 100%;
    height: 10%;
    text-align: center;
    display: block;
}

.lista-navigator {
    display: block;
}

.lista-navigator li {
    list-style: none;
    display: inline;
    padding: 0.5em;
}

.lista-navigator a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255, 0.4);
}

/*      COPERTINE       */
.container-ultimi-ascolti {
    margin-left: 1em;
}

.ultimi-ascolti {
    display: flex;
    margin-top: 1em;
}

.heavy {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-right: 1%;
}

.copertina {
    width: 100%;
}

.nome {
    color: white;
}

h2 {
    color: white;
}

/*      DISCOVER WEEKLY     */
.container-discover-weekly {
    margin-top: 1em;
}

.heavy-dw{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 15%;
    margin-right: 1%;
}

/*      POPOLAR ART     */
.container-popolar-art {
    margin-top: 1em;
}


footer {
    background: gray;
    width: 100%;
    height: var(--playerheight);
}



