* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(255, 255, 255, 0.4);

}

:root {
    --playerheight: 80px;
}

.container {
    background: red;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.clearfix::after {
    content:'';
    display: table;
    clear: both;
}


main {
    width: 100%;
    height: calc(100% - (var(--playerheight)));
    overflow: hidden;
}

.main-nav {
    float: left;
    width: 20%;
    height: 100%;
    background-color: black;
    min-height: 40%;
    line-height: 30px;
}

/*_____MAIN NAV TOP_____*/
.main-nav-top {
    width: 100%;
    height: 80%;
    background-color: black;
}

.logo {
    width: 65%;
    padding: 1em;
}

.home {
    padding-left: 1em;
}

.home:hover {
    border-left: 3px solid chartreuse;
}

.home,.cerca,.library {
    padding-left: 1em;
}

.casetta,.lib,.search {
   width: 12%;
   vertical-align: middle;
}

.logo,.category,.playlist {
    margin-bottom: 1em;
}

.playlist {
    padding-left: 1em;
}

.title-cat-playlist {
    color: white;
}

.fa-plus-square {
    font-size: 230%;
}

.nomeplaylist li {
    list-style: none;
}

.nomeplaylist {
    height: 200px;
    overflow: auto;
}

.firstttchild {
    display: flex;
    align-items: center;
}

.fa-plus-square {
    margin-right: 0.3em;
}


/*____MAIN NAV BOTTOM___*/
.main-nav-bottom {
    width: 100%;
    height: 20%;
    display: flex;
    flow-direction: flex-end;
    align-items: flex-end;
}

.install img {
    width: 8%;
}

.install {
    font-size: 80%;
}

.separator {
    width: 85%;
    height: 1px;
    background:rgb(255, 255, 255, 0.4);
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
}

.user,.install {
    display: flex;
    align-items: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
}

.user span, .install span {
    margin-left: 0.5em;
}

.user span {
    color: white;
}

.usersvg {
    background: gray;
    border-radius: 50%;
    width: 12%;
}

.main-section {
    float: left;
    width: calc(100% - (20%));
    height: 100%;
    background-color: rgb(18, 18, 31);
    overflow: auto;
    padding-top: calc(var(--playerheight) + (1em));
    padding-bottom: 2em;
}   

.main-call-action {
    width: calc(100% - (20%));
    height: var(--playerheight);
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgb(12, 12, 20);
    display: flex;
    justify-content: flex-end;
}

.upgrade {
    text-transform: uppercase;
    color: white;
    border: 2px solid white;
    background-color: rgb(0, 0, 0, 0.3);
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
    border-radius: 25px;
    margin-right: 0.5em;
    align-self: center;
    overflow: hidden;
}

/*      MAIN SECTION    */

.container-lista-navigator {
    width: 100%;
    height: 10%;
    text-align: center;
    display: block;
    overflow: hidden;
}

.lista-navigator {
    display: block;
}

.lista-navigator li {
    list-style: none;
    display: inline;
    padding: 0.5em;
}

.lista-navigator a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255, 0.4);
}

/*      RECENTLY PLAYED       */
.container-ultimi-ascolti {
    margin-left: 1em;
}

.ultimi-ascolti {
    display: flex;
    margin-top: 1em;
}

.heavy {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-right: 1%;
}

.copertina {
    width: 100%;
}

.nome {
    color: white;
}

h2 {
    color: white;
}

/*      DISCOVER WEEKLY     */
.container-discover-weekly {
    margin-top: 1em;
}

.heavy-dw{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 15%;
    margin-right: 1%;
}

/*      POPOLAR ART     */
.container-popolar-art {
    margin-top: 1em;
}

.copertina-popo {
    border-radius: 50%;
}

/*      FOOTER      */
footer {
    background: rgb(44, 44, 44);
    width: 100%;
    height: var(--playerheight);
    overflow: hidden;
}

.container-footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.left {
    width: 20%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.copertina-inascolto {
    width: 20%;
    margin-left: 0.5em;
}

.copertina-inascolto img {
    width: 100%;
}


.nome-inascolto {
    width: 40%;
    overflow: hidden;
}

.sinister {
    color: white;
}

.brano {
    font-size: 70%;
}

.sinister,.brano {
    display: inline-block;    
}

.add-favour {
    width: 20%;  
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 0.5em;
    overflow: hidden;
}

.add-favour i{
    margin-left: 0.5em;
}

/*      CENTER FOOTER       */
/*      PARTE-1     */
.center {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.player {
    width: 35%;
    display: flex;
    justify-content: space-around;
}

.player i{
    color: white;
    font-size: 100%;
}

/*      PARTE-2     */
.info-player {
    width: 60%;
    height: 2em;
    display: flex;
}

.time-start {
    align-self: center;
    font-size: 70%;
    margin-right: 5%;
    color: white;
}

.time-stop {
    align-self: center;
    font-size: 70%;
    margin-left: 5%;
    color: white;
}

.time-bar {
    width: 100%;
    height: 20%;
    background:rgb(255, 255, 255, 0.4);
    border-radius: 20px;
    align-self: center;
    position: relative;
}

.time-bar-now{
    width: 22%;
    height: 100%;
    background:white;
    border-radius: 20px;
    align-self: center;
    position: absolute;
    display: flex;
    justify-content: flex-end;
}



/*      RIGHT FOOTER        */
.right {
    width: 20%;
    display: flex;
    margin-right: 1em;
}

.icone-vol {
    color: white;
    width: 40%;
    align-self: center;
    display: flex;
    overflow: hidden;
}

.icone-vol i {
    margin-right: 0.6em;   
    display: inline-block;
}

.vol-bar {
    width: 60%;
    height: 5%;
    background:rgb(255, 255, 255, 0.4);
    border-radius: 20px;
    align-self: center;
    position: relative;
}

.vol-bar-now{
    width: 72%;
    height: 100%;
    background:white;
    border-radius: 20px;
    align-self: center;
    position: absolute;
    display: flex;
    justify-content: flex-end;
}

.pallino-time {
    background: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    align-self: center;
    display: none;
}

.pallino-vol {
    background: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    align-self: center;
    display: none;
}



/*      HOVER       */

.upgrade:hover {
    color: white;
    padding: 1.2em;
    padding-left: 3.2em;
    padding-right: 3.2em;
}

.lista-navigator a:hover{
    color: rgb(255, 255, 255);
}

.lista-navigator a:focus{
    color: rgb(255, 255, 255);
    border-bottom: 2px solid greenyellow;
}

.fa-play-circle:hover {
    font-size: 120%;
}

.fa-folder:hover {
    color: white;
}

.fa-heart:hover {
    color: white;
}

.brano:hover {
    color: white;
    text-decoration: underline;
}

.install span:hover {
    color: white;
}

.nomeplaylist li:hover{
    color: white;
}

.home:hover {
    color: white;    
}

.cerca:hover {
    color: white;    
}

.library:hover {
    color: white;    
}

.time-bar-now:hover {
    background:greenyellow;
}

.vol-bar-now:hover {
    background:greenyellow;
}

.vol-bar:hover .pallino-vol {
    display: block;
}

.time-bar:hover .pallino-time {
    display: block;
}

/*      MEDIA QUERY     */  

@media screen and (max-width: 600px) {
    .main-nav {
        width: 45px;
    }

    .main-section {
    width: calc(100% - (45px));
    }   

    .main-call-action {
    width: calc(100% - (45px));
    }

    .playlist {
        display: none;
    }

    .category span {
        display: none;
    }

    .casetta,.search,.lib {
        width: 100%;
    }

    .logo {
        display: none;
    }

    .home,.cerca,.library {
        padding: 0;
        margin-left: 10%;
        margin-right: 10%;
    }

    .fondo span{
        display: none;
    }

    .fondo img {
        width: 100%;
    }

    .ultimi-ascolti {
        flex-wrap: wrap;
    }
}


/* 600px, 700px e 1100px */
